body {
    padding: 0;
    margin: 0;
}

.one {
    position: absolute;
    background: url("https://media.cheggcdn.com/media/7c4/7c40d4dc-b556-41c7-b523-d66c07e829ee/phpaUYBu1");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.sec1 {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec2 {
    margin-top: 80px;
    width: 50%;
    text-align: center;
}

.sec3 {
    width: 50%;
    margin-left: 300px;
    text-align: center;
    text-align: justify;
}

.link > a {
    color: white;
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
}

.link1 > a {
    color: rgb(13, 13, 38);
    text-decoration: none;
    font-size: 22px;
    margin-left: 50px;
}

.link3 > a {
    color: rgb(26, 26, 67);
    text-decoration: none;
    font-size: 18px;
    text-decoration: underline;
    margin-left: 50px;

}
.two {
    height: 105vh;
    width: 82%;
    overflow-y: auto;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content:end;
}

.ee {
    height: 118vh;
    width: 82%;
    
    overflow-y: auto;
    background-color: white;
    display:flex;
    flex-direction: column;
    justify-content:end;
}

.three, .three1 {
    position: absolute;
    background: url("./images/lam-middle-image.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.three4
{
    position: absolute;
    background: url("./images/lam-tab-1.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}


.three5
{
    position: absolute;
    background: url("./images/lam-tab-2.png");
    width: 100%;
    height: 100%;
    background-size: cover;
}

.twoo{
   display:flex;
   justify-content: space-around;
   align-items: center;
}

.mountain-class{
    background-color: #404f6c;
    height:7vh;
    display:flex;

}


.mountain{
    width:43%;
    color:white;
    display: flex;
  
    justify-content:center ;
    align-items: center;
}

#mountain1{
    background-color:#9fa7b5;
    color: #404f6c;   
    height:7vh;
    display: flex;
    font-size:25px;
    font-weight: 700;
    width:10vw;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}

#mountain2{
    
    background-color:#404f6c;
    color: #9fa7b5;
    display:flex;
    height:7vh;
    font-size:25px;
    font-weight: 700;
    width:10vw;
    border: none;
    justify-content: center;
    cursor: pointer;
    align-items: center;
}


.inactive {
    display: none;
}

.active {
    display: block;
    background-color:#9fa7b5;
    color: #404f6c;
}